# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
public/banners/bannerspace.jpgZone.Identifier
public/banners/bannerspace2.webpZone.Identifier
public/banners/bannerspace3.pngZone.Identifier
public/banners/bannerspace4.jpgZone.Identifier
public/Tech/pc.jpegZone.Identifier
public/Tech/pc.jpgZone.Identifier
public/Tech/pc2.jpegZone.Identifier
public/Tech/pc2.jpgZone.Identifier
public/Tech/pc3.jpgZone.Identifier
public/Tech/pc4.jpgZone.Identifier
public/Tech/pc6.jpgZone.Identifier
public/Tech/tech.pngZone.Identifier
public/astronauta.jpgZone.Identifier
public/bannerrocket.jpgZone.Identifier
public/bannerrocket.webpZone.Identifier
public/bannerrocket2.jpegZone.Identifier
 public/bannerrocket3.jpgZone.Identifier
public/bannerrocket3.jpgZone.Identifier
public/banners/bannerspacee.jpgZone.Identifier
public/banners/bannertech.jpgZone.Identifier
public/banners/bannertech2.jpgZone.Identifier
public/banners/bannertech3.jpgZone.Identifier
public/banners/bannertech4.jpgZone.Identifier
public/banners/bannertech4.jpgZone.Identifier
public/banners/bannertech5.jpegZone.Identifier
public/banners/bannervioleta2.jpgZone.Identifier
public/banners/bannervioleta3.jpegZone.Identifier
public/devbanner.jpgZone.Identifier
public/devbanner2.jpgZone.Identifier
public/pcright.jpgZone.Identifier
public/pcright2.jpgZone.Identifier
public/rocketright.jpgZone.Identifier
public/universo.jpgZone.Identifier
public/whatsapp.pngZone.Identifier
public/whatsapp2.pngZone.Identifier


# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
